<!DOCTYPE html>
<html>
<head>
    <title>Lucas Altman</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'la.ico' %>
</head>
<body>

<%= nav_bar :static => :top, :brand => "Lucas Altman" do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_item "Design Examples", designs_path %>
        <%= menu_item "Code Examples", code_path %>
        <%= menu_item "Contact", contact_path %>
    <% end %>
<% end %>

<div class="container"> <%= yield %> </div>

</body>
</html>
